<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>회원 상세정보</h2>
</head>
<body>
Name : <span th:text="${session['member'].name}"></span><br/>
UserID : <span th:text="${session['member'].address}"></span><br/>
Nickname: <span th:text="${session['member'].checkid}"></span><br/>
CreatDate: <span th:text="${session['member'].createdDate}"></span><br/>

<form action="/member/usercheck" method="get">
    <div class="checkbox mb-3">
        <label><a href="/member/login/usercheck/update">회원정보 수정</a></label>
    </div>
</form>




</body>
</html>